.characterCardContainer{
    height:1200px;
    margin-bottom: 30px;
    margin-top: 15%;
    flex: 1 0 auto;


    .cardImage{
        height: 600px;
        width: 400px;
    }

    .characterCard{
        background-color: black !important;
        color: white;
        height: 900px;
    
    
        .characterTitle{
            font-size: 70px;
        }

        .character-text-style{
            font-size: 20px;
        }
    }
}