.FooterLinks {
  text-align: center;
  font-family: Kommissar;
  font-weight: 900;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
  padding: 47px 0 53px;
  text-decoration: none;
}
.FooterLinks a.FooterLink {
  margin-right: .48333333em;
  text-decoration: none;
}
.FooterLinks a.FooterLink:hover {
  color:lightgray;
}
.FooterLinks a.FooterLink--active {
  pointer-events: none;
}
.FooterLinks a {
  position: relative;
  color: white;
  display: inline-block;
  font-size: 3em;
  line-height: .98333333em;
}
.FooterLinks a.FooterLink:after {
  bottom: -.05em;
  height: .1em;
}
.FooterLinks a:after {
  content: "";
  bottom: .375em;
  left: 0;
  width: 0;
  height: .0625em;
  background: #000;
  opacity: 0;
  transition: width 0s ease-in-out .15s,opacity .15s linear;
}

.FooterLinksBlock--disclamer {
  color: #c3c5c8;
  text-transform: none;
  margin-top: 30px;
}